a
  :color #2c3c37
  :font-weight bold
  
ul ul a
  :font-weight normal
  
.form
  textarea
    :width 400px
    :height 200px
    
  input[type="text"]
    :width 400px

#logo
  :padding-bottom 10px
  :position relative
  :z-index 100
  a
    :color #86aa27
    :text-decoration none
    :position relative
    :top 7px

  h2
    :font-size 17px
    :color #777
    :margin-left 152px
    :position relative
    :top -11px

.line1
  :position absolute
  :width 100%
  :border 0px
  :background #ddf0f8
  :height 70px
  :padding 0
  :top 0px
  :z-index 20
  :border-bottom 1px solid #a0af9b

#primary
  :min-height 300px
  
#footer
  :background #ddf0f8
  :padding 4px 16px

.page_place
  :color white

.method
  :margin-top 30px
  
  hr
    :background-color #c7cfd8
    :border 0
    :height 3px
  
  h3
    :font-size 16px
  
  .return 
    :margin-bottom 16px
    strong
      :color #44657a
      :font-weight bold
    i
      :display block
      :margin-left 16px
    
  .examples
    h5
      :font-size 14px
      :font-weight bold
      :color #555
      :margin 20px 16px 10px 16px
  
    strong
      :color #647a44
      :margin-bottom 10px
      
    & > div
      :margin 0 0 16px 16px
      div
        :margin-top 3px
  
    .req, .resp, .post
      :color #555
  
  code
    :color #000