- @title = 'Installation'
%h1 Installation

%p
  It requires
%div
  %ul
    %li TokyoCabinet, a b-tree key/value disk store
    %li libevent, for asynchronous sockets and HTTP
    %li Yajl, for JSON generation

%h2 
  Mac OS X
  = link_to '#', '#macos', :class => 'page_place'
  
%p
  For compiling you should have installed xcode

%div 
  %p 
    If you use 
    = link_to "HomeBrew", 'http://mxcl.github.com/homebrew/'
  %pre.code.install
    :preserve
      $ brew install yajl tokyo-cabinet libevent cmake
      
  %p for macport users
  %pre.code.install
    :preserve
      $ port install yajl tokyocabinet libevent tokyocabinet libzip cmake
      
  %p Then:
  %pre
    :preserve
      $ git clone http://github.com/stevedekorte/vertexdb.git
      $ cd vertexdb
      $ cmake .
      $ make && make install
      
  %p Running
  %pre
    :preserve
      $ vertexdb -db blog1.db
      
  %p Or as a daemon
  %pre.code.install
    :preserve
      $ sudo vertexdb -db /opt/database -d --pid /var/run/vertex.pid

%h2 
  Linux
  = link_to '#', '#linux', :class => 'page_place'

%div
  %p Run the same actions as for mac os x, but with your system's packet-manager